#Ignore Python notebook checkpoints
notebooks/.ipynb_checkpoints/*
*/.ipynb_checkpoints/*

#Ignore large datsets
*.npy

#Ingore pipe demo files
PipeDemo/scripts/.ipynb_checkpoints/*
PipeDemo/importLog

#Ignore spatial data frames, for now
3-SpatialDataFrames/*